<a href="https://colab.research.google.com/github/alysonbz/lab_prog_si/blob/joao_victor/05_06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
#questao 1
baseball = [[180, 78.4],
            [215, 182.2],
            [210, 98.5],
            [188, 75.2]]
import numpy as np

np_baseball = np.array(baseball)
print (np_baseball[2])
print(np_baseball[4:])

[210.   98.5]
[]

In [24]:
#questao 2 e 3
np_weight_lb = np_baseball[:,1]
print(np_weight_lb)

[ 78.4 182.2  98.5  75.2]

In [28]:
#questao 4
np_cm_lb = np_baseball[:,0]
media = np.mean(np_cm_lb)
print(media)

198.25

In [29]:
#questao 5
np_weight_lb = np_baseball[:,1]
mediana = np.median(np_weight_lb)
print(mediana)

88.45

In [40]:
#ex 1

In [44]:
#ex 2
# a primeira opc√£o
import numpy as np
z = np.array([[9, 9, 3],[8, 5, 4]])
print(z[1, 0])

8

In [45]:
import numpy as np
m = np.array([2, 6, 4])
n = np.array([2, 1, 1])
print(m * n)

[4 6 4]