<a href="https://colab.research.google.com/github/alysonbz/lab_prog_si/blob/kauan_lima/atividade_03_07.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Quest천es 1, 2, 3 e 4 do slide 121.
import pandas as pd
names = ['United States', 'Australia', 'Japan', 'India', 'Russia', 'Morroco', 'Egypt'  ]
dr = [True, False, False, False, True, True, True]
cpc = [809, 731, 588, 18, 200, 70, 45]
my_dict = {'country': names, 'drives_right': dr, 'cars_per_cap': cpc}
cars = pd.DataFrame(my_dict)
print(cars)

         country  drives_right  cars_per_cap
0  United States          True           809
1      Australia         False           731
2          Japan         False           588
3          India         False            18
4         Russia          True           200
5        Morroco          True            70
6          Egypt          True            45

In [6]:
#Quest천es 1 e 2 do slide 122
cars.index=['US', 'AUS', 'JPN', 'IN', 'RU', 'MOR', 'EG']
print(cars)

           country  drives_right  cars_per_cap
US   United States          True           809
AUS      Australia         False           731
JPN          Japan         False           588
IN           India         False            18
RU          Russia          True           200
MOR        Morroco          True            70
EG           Egypt          True            45

In [14]:
#Quest천es 1, 2, 3 e 4 do slide 123
import pandas as pd
cars=pd.read_csv('cars.csv')
print(cars)

  country_ab  cars_per_cap        country  drives_right
0         US           809  United States          True
1        AUS           731      Australia         False
2        JAP           588          Japan         False
3         IN            18          India         False
4         RU           200         Russia          True
5        MOR            70        Morocco          True
6         EG            45          Egypt          True

In [15]:
#Quest찾o 1 do slide 124
cars=pd.read_csv('cars.csv', index_col=0)
print(cars)

            cars_per_cap        country  drives_right
country_ab
US                   809  United States          True
AUS                  731      Australia         False
JAP                  588          Japan         False
IN                    18          India         False
RU                   200         Russia          True
MOR                   70        Morocco          True
EG                    45          Egypt          True