<a href="https://colab.research.google.com/github/alysonbz/lab_prog_si/blob/laisa_gomes/aula_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
altura= 1.56
peso= 45
imc= peso/altura**2
print(imc)

18.49112426035503

In [ ]:
nome= 'Laísa'
altura= 1.56
peso= 45
idade= 18

#tipos de variaveis

print (type(nome))
print (type(altura))
print (type(peso))
print (type(idade))

<class 'str'>
<class 'float'>
<class 'int'>
<class 'int'>

In [ ]:
nome= 'Laísa'
sobrenome= ' Gomes'

print(nome+sobrenome)

Laísa Gomes

In [ ]:
#Exemplo

print(7+8)

15

In [ ]:
#operação de print da soma
print(5+3)

8

In [ ]:
#operações

print(5**3)
print(5*3)
print(5%3)

125
15
2

In [ ]:
capital= 100
taxa= 0.011
tempo= 7
juros= capital*taxa*tempo
print(juros)

7.699999999999999

In [ ]:
savings= 100
growth_multiplier= 1.1
desc= "compound interest"

# Assign product of growth_multiplier and savings to year1
year1= savings*growth_multiplier

# Print the type of year1
print(type(year1))

# Assign sum of desc and desc to doubledesc
doubledesc= desc+desc

# Print out doubledesc
print(doubledesc)

<class 'float'>
compound interestcompound interest

In [ ]:
# Definition od pi_string
pi_string= "3.1415926"

# Convert pi_string into float: pi_float
pi_float= float(pi_string)
print(pi_float)

print(type(pi_string))
print(type(pi_float))

3.1415926
<class 'str'>
<class 'float'>

In [ ]:
# Definition of saving and result
savings= 100
result= 100 * 1.10**7

# Fix the printout
print("I started with $" + str(savings) + " and now have $" + str(result) + ". Awesome!")

I started with $100 and now have $194.87171000000012. Awesome!

In [ ]:
print('The correct answer to this multiple choice exercise is answer number' + 2)

# Não é possível somar str com int

TypeError: can only concatenate str (not "int") to str