<a href="https://colab.research.google.com/github/alysonbz/lab_prog_si/blob/cauanrodrigues/aula4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Manipulando lista e criando um loop com o "FOR"

In [51]:
list_num = [2, 4, 20 ,11, 10, 5]

In [77]:
def max_valor_list(list_num):
  maior_valor = None

  for numero in list_num:
    if maior_valor == None:
      maior_valor = numero
    if maior_valor < numero:
      maior_valor = numero
      print("durante o loop", maior_valor)
max_valor_list(list_num)

durante o loop 4
durante o loop 20

Criando uma função de contar os elementos de uma lista

In [85]:
def quantidade_de_elementos(list_num):
  quantidade_de_elementos = 0
  for numero in list_num:
    quantidade_de_elementos = quantidade_de_elementos + 1
  return quantidade_de_elementos

quantidade_de_elementos(list_num)

6

Utilizando função max e round

In [83]:
max(list_num)
round(1.68)

2

QUESTÕES

In [86]:
#Create variables var1 and var2
var1 = [1,2,3,4]
var2 = True

#Print out type of var1
type(var1)

#Print out lenght of var1
len(var1)


#Convert var 2 to an integer: out2
out2 = int(var2)
print(out2)

1

In [88]:
#Create lists first and second
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

#Paste together first and second: full
full = first + second
print(full)
#Sort full in descending order: #fullsorted
fullsorted = sorted(full, reverse=True)

#Print out full_sorted
print(fullsorted)

[11.25, 18.0, 20.0, 10.75, 9.5]
[20.0, 18.0, 11.25, 10.75, 9.5]