<a href="https://colab.research.google.com/github/alysonbz/lab_prog_si/blob/Thiago_Gomes/Aula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exemplos

In [22]:
altura = 1.80
peso = 80
nome = 'Thiago'
aluno = True
professor = False

BML= peso/altura ** 2
BML

type (altura)
type (peso)
type (nome)
type (aluno)
type (professor)

conta1 = 3+4
conta1

conta2 = '3' + '4'
conta2

conta3 = 'hello' +  'moto'
conta3

'hellomoto'

Questão01

In [ ]:
#Usando o COLAB cole o comando seguinte na célula
# Example
print(5 / 8)

10

Questão02

In [23]:
#Em outra célula, realize o print da soma de 7 com 8. Coloque uma linha de comentário no código, tal como a questão 1, informando que realiza uma soma.
n1 = 7
n2 = 8
soma = n1+n2
print ("valor da soma é" ,soma)
#soma efetuada

valor da soma é 15

Questão03

In [ ]:
#Em uma célula, realize a operação de  print da soma do número 5 e 3. Logo abaixo do código, na mesma célula faça a operação de subtração destes números.
n1 = 5
n2 = 3

#soma
soma = n1+n2
print (soma)

#subtração
subtração = n1-n2
print (subtração)

8
2

Questão04

In [ ]:
#Em uma célula realize os prints das operações de potência, multiplicação, resto da divisão entre os números 5 e 3.
n1 = 5
n2 = 3

#potência
potência = n1**n2
print (potência)

#multiplicação
multiplicação = n1*n2
print (multiplicação)

#resto da divisão
resto = n1 % n2
print (resto)

125
15
2

Questão05

In [29]:
#Suponha que você tem 100 reais e esse dinheiro rende 1.1% ao ano. Quanto de dinheiro você terá acumulado em 7 anos ?
capital = 100
taxa = 0.011
anos = 7
montante = capital * (1 + taxa)**anos
print (montante)

107.95881008294907

Questão06

In [ ]:
#Complete o seguinte código e rode em uma célula.
poupança = 100
multiplicador = 1,1
desc = "juros compostos"
ano1 = poupança * multiplicador

print (type(ano1))

print (desc + desc)

<class 'tuple'>
juros compostosjuros compostos

Questão07

In [18]:
#complete o código seguinte convertendo a variável pi_string para float. Ao final faça o print das variáveis e seus tipos.
pi_string = "3.14159"
pi_float = float(pi_string)

print("valor do pi_fload =", pi_float, "tipo do pi_float =" , type(pi_float))

valor do pi_fload = 3.14159 tipo do pi_float = <class 'float'>

Questão08

In [ ]:
#Rode o código abaixo em uma célula do colab e informe descubra qual erro está havendo.
savings = 100
results = 100 * 1,10 ** 7

print("i started with $" + savings + "and now have $" + results)

#o print da erro pois esta tentando juntas duas strings com dois floats

Questão09

In [21]:
#Use a função str() para corrigir o erro, convertendo as variáveis numéricas para string.
savings = 100
results = 100 * 1,10 ** 7
savings = str(savings)
results = str(results)
print("i started with $" + savings + " and now have $ " + results)

i started with $100 and now have $ (100, 10000000)

Questão10

In [25]:
#Qual dos textos seguintes apresenta erro se for executado em um comando print ? Porque?
#resposta C
print ("answer to this multiple choice exercise is answer number" + 2)
#o print da erro pois esta tentando juntas uma string com um float

TypeError: can only concatenate str (not "int") to str