<a href="https://colab.research.google.com/github/alysonbz/lab_prog_si/blob/Emanuel_Oliveira/aula6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Métodos: Funções que pertencem a objetos

Métodos de listas

In [1]:
sister = "liz"

In [2]:
height = 1.73

In [18]:
fam = ["liz",1.73, "emma", 1.68, "mom", 1.71, "dad", 1.89]

In [4]:
fam

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]

In [5]:
fam.index("mom")

4

In [10]:
fam.count(1.73)

1

In [23]:
fam.append("me")

In [24]:
fam.append(1.79)

In [25]:
fam

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89, 'me', 1.79, 'me', 1.79]

Métodos de string

In [26]:
sister

'liz'

In [27]:
sister.capitalize()

'Liz'

In [29]:
sister.upper()

'LIZ'

In [28]:
sister.replace("z","sa")

'lisa'

1). Use o método upper() acessível pela variável place na linha 5 e armazene a saída do método em uma nova variável, place_up

2). Realize o print de place e place_up nas linhas 8 e 9

3). Usando o método count, realize a contagem de quantas letras "o" tem na variável place.

In [32]:
#string to experiment with: place
place = "poolhouse"
#use upper() on place: place_up
place.upper()
place_up = place.upper()
#print out place and place_up
print(place_up)
#print out the number of o´s in place
place.count("o")

POOLHOUSE

3

4) Na linha 5 print o index que contem o numero 20 com o método index().

5)Usando o método count(), mostre via print o numero de vezes que 9.5 aparece na lista.

In [38]:
#cerate list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]
#print out the index of the element 20.0
print(areas.index(20.0))
#print out how often 9.50 appers in areas
print(areas.count(9.50))

2
1

6) Na linha 7 use o método append() duas vezes para incluir os números 24.5 e 15.25 no fim da lista.

7) print a lista areas na Linha 8

8) Use o método reverse() da lista para trocar a ordem dos elementos da lista.

9)  Print novamente a ista areas

In [9]:
#cerate list areas
areas = [11.25, 18.0, 20.0, 10.75, 9.50]
#use append twice to add poolhouse and garage size
areas.append(24.5)
areas.append(15.25)
#print out areas
print(areas)
#reverse the orders of the elements in areas
areas.reverse()
#print out areas
print(areas)

[11.25, 18.0, 20.0, 10.75, 9.5, 24.5, 15.25]
[15.25, 24.5, 9.5, 10.75, 20.0, 18.0, 11.25]