<a href="https://colab.research.google.com/github/alysonbz/lab_prog_si/blob/Kemilly_Mota/aula_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#segunda aula

In [ ]:
#[] definir a função de uma variável em 'lista'.
altura1 = 1.65
altura2 = 1.68
altura3 = 1.50
altura4 = 1.45
familia = ['andréa',altura4, 'mãe', altura3,'pai',altura2,'eu',altura1 ]
familia

['andréa', 1.45, 'mãe', 1.5, 'pai', 1.68, 'eu', 1.65]

In [ ]:
fam = familia
fam

['andréa', 1.45, 'mãe', 1.5, 'pai', 1.68, 'eu', 1.65]

In [ ]:
type(família)

list

In [1]:
#Áreas.
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

#lista das áreas.
area = [hall, kit, liv,bed, bath]
area

[11.25, 18.0, 20.0, 10.75, 9.5]

In [ ]:
#notas dos alunos, criar uma lista da lista.
alunos = ['levi', 'douglas', 'luan']
type(alunos)
alunos.append('kemilly')
print(alunos)

alunos_notas = [['levi',9],['douglas', 9],['luan',9],['kemilly', 9]]
print(alunos_notas)

['levi', 'douglas', 'luan', 'kemilly']
[['levi', 9], ['douglas', 9], ['luan', 9], ['kemilly', 9]]

In [16]:
#q_2
lista_1 = [1,3,4,2]  #lista normal
lista_2 = [[1,2,3,4,], [5,6,7,8]] #lista da lista
#lista_3 = [1+2, "a", * 5, 3] # * não pode funcionar sozinho porque o operador precisa de algo antes pra operar
type(lista_1)
type(lista_2)
#type (lista_3)

list

In [25]:
#q_3
#variaveis de area
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

#informações da casa
casa =  [['corredor', hall],
         ['cozinha', kit],
         ['sala de estar', liv]]
print(casa)
type(casa)

[['corredor', 11.25], ['cozinha', 18.0], ['sala de estar', 20.0]]

list