<a href="https://colab.research.google.com/github/alysonbz/lab_prog_si/blob/gabriel_coelho/aula4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#MANIPULANDO LISTAS

In [ ]:
#MONTANDO UMA LISTA
fam = ['Abel', 35, 'Gabriel', 19, 'Miguel', 10, 'Matheus', 3, 'Dog', 5]
fam

['Abel', 35, 'Gabriel', 19, 'Miguel', 10, 'Matheus', 3, 'Dog', 5]

In [ ]:
#MODOFICANDO UM ELEMENTO DA LISTA
fam[3] = 20
fam

['Abel', 35, 'Gabriel', 20, 'Miguel', 10, 'Matheus', 3, 'Dog', 5]

In [ ]:
##MODIFICANDO 2 OU MAIS ELEMENTOS DA LISTA
fam[6:8] = ['Micael', 1]
fam

['Abel', 35, 'Gabriel', 20, 'Miguel', 10, 'Micael', 1, 'Dog', 5]

In [ ]:
#DELETANDO ELEMENTOS DA LISTA
del(fam[8:10])
fam

['Abel', 35, 'Gabriel', 20, 'Miguel', 10, 'Micael', 1]

In [ ]:
#ADICIONANDO ELEMENTOS NA LISTA
fam + ['Lilian', 45]

['Abel', 35, 'Gabriel', 20, 'Miguel', 10, 'Micael', 1, 'Lilian', 45]