<a href="https://colab.research.google.com/github/alysonbz/lab_prog_si/blob/Kemilly_Mota/aula_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#segunda aula

In [38]:
#[] definir a função de uma variável em 'lista'.
altura1 = 1.65
altura2 = 1.68
altura3 = 1.57
altura4 = 1.45
familia = ['andréa',altura4, 'mãe', altura3,'pai',altura2,'kemilly',altura1 ]
familia

['andréa', 1.45, 'mãe', 1.57, 'pai', 1.68, 'kemilly', 1.65]

In [39]:
fam = familia
print(fam)

['andréa', 1.45, 'mãe', 1.57, 'pai', 1.68, 'kemilly', 1.65]

In [30]:
fam[5]
print("o tamanho da lista é", len(fam))
len(fam) #mostrando o tamanho da lista

o tamanho da lista é 8

8

In [42]:
t = fam[-2]
print(t)
fam[:6] #fazendo um slice na lista
fam [2:6]

kemilly

['mãe', 1.57, 'pai', 1.68]

In [ ]:
type(família)

list

In [5]:
#Áreas.
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

#lista das áreas.
area = [hall,"hall", kit,"kit," ,liv,"liv",bed,"bed",bath, "bath"]
area

[11.25, 'hall', 18.0, 'kit,', 20.0, 'liv', 10.75, 'bed', 9.5, 'bath']

In [ ]:
#notas dos alunos, criar uma lista da lista.
alunos = ['levi', 'douglas', 'luan']
type(alunos)
alunos.append('kemilly')
print(alunos)

alunos_notas = [['levi',9],['douglas', 9],['luan',9],['kemilly', 9]]
print(alunos_notas)

['levi', 'douglas', 'luan', 'kemilly']
[['levi', 9], ['douglas', 9], ['luan', 9], ['kemilly', 9]]

In [26]:
#q_2
lista_1 = [1,3,4,2]  #lista normal
lista_2 = [[1,2,3,4,], [5,6,7,8]] #lista da lista
#lista_3 = [1+2, "a", * 5, 3] # * não pode funcionar sozinho porque o operador precisa de algo antes pra operar
type(lista_1)
type(lista_2)
#type (lista_3)

list

In [7]:
#q_3
#variaveis de area
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

#informações da casa
casa =  [['corredor', hall],
         ['cozinha', kit],
         ['sala de estar', liv]]
print(casa)
type(casa)

[['corredor', 11.25], ['cozinha', 18.0], ['sala de estar', 20.0]]

list

In [67]:
areas = [["hallway", 11.25,],
         ["kitchen", 18.0],
         ["living room", 20.0],
         ["bedroom", 10.75],
          ["bathroom", 9.50]]
print(areas)
print(areas [1])
print(areas [-1])
print(areas [2])

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0], ['bedroom', 10.75], ['bathroom', 9.5]]
['kitchen', 18.0]
['bathroom', 9.5]
['living room', 20.0]

In [81]:
areas = ["hallway", 11.25,
         "kitchen", 18.0,
         "living room", 20.0,
         "bedroom", 10.75,
          "bathroom", 9.50]
sleep_eat_area = areas[3] + areas[5]
print(sleep_eat_area)

38.0

In [93]:
areas = ["hallway", 11.25,
         "kitchen", 18.0,
         "living room", 20.0,
         "bedroom", 10.75,
          "bathroom", 9.50]
downstars = areas [0:9]
downstars

['hallway',
 11.25,
 'kitchen',
 18.0,
 'living room',
 20.0,
 'bedroom',
 10.75,
 'bathroom']

In [98]:
aluno=[['kemilly', 'ufc'],['levi', 'uece']]
aluno[0]
aluno[0][1]

'ufc'

In [109]:
#lista de família (fulano, altura), acesse o 3 elemento da lista, acessar a altura do segundo elemnto da lista
familia_1 = [['kemilly', '1.65'],['levi', '1.30'],['douglas', '1.10'],['luan', '1.20'],['Laísa', '1.15']]
fam = familia_1
print(fam[3])
print(fam[1][1])

['luan', '1.20']
1.30

In [113]:

casasss= [["hallway", 11.25,],
         ["kitchen", 18.0],
         ["living room", 20.0],
         ["bedroom", 10.75],
          ["bathroom", 9.50]]
casasss[-1][1]

9.5