<a href="https://colab.research.google.com/github/alysonbz/lab_prog_si/blob/Emanuel_Oliveira/aula3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

aceesando elementos da lista

In [9]:
fam = ["liz", 1.73, "emma", 1.68, "mom", 1.71, "dad", 1.89]
print(fam)
print(fam[0])
print(fam[2:6])

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]
liz
['emma', 1.68, 'mom', 1.71]

4) Exiba o segundo elemento da lista

4.1) Exiba o último elemento da lista usando index negativo.

4.2) Exiba o elemento que indica o valor da área de Livin room.

In [10]:
# Cria a lista de áreas
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]
# Imprima o segundo elemento das áreas
print(areas[1])
# Imprima o último elemento das áreas
print(areas[-1])
# Imprima a área da sala de estar
print(areas[5])

11.25
9.5
20.0

5) Na linha 7, acessando os elementos da lista, realize a soma dos valores de Kitchen e living room e atribua em eat_sleep_area.

5.1) Exiba a variável eat_sleep_area.

In [13]:
#create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]
#sum of kitchen and bedroom area: eat_sleep_area
print(areas)
eat_sleep_area = (areas[3] + areas[5])
#print the variable eat_sleep_area
print(eat_sleep_area)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0, 'bedroom', 10.75, 'bathroom', 9.5]
38.0

6) Acesse os 6 primeiros elemento de areas e atribua a uma nova lista: downstairs.

6.1) Acesse os 4 últimos elemento de areas e atribua a uma nova lista: upstairs.

6.2) Exiba downstairs e upstairs.

In [22]:
#create the areas list
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]
#use slicing to create downstairs
downstairs = [areas[0:6]]
#use slicing to create upstairs
upstairs = [areas[6:10]]
#print out downstairs and upstairs
print(downstairs)
print(upstairs)

[['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]]
[['bedroom', 10.75, 'bathroom', 9.5]]

Faça uma lista da sua familia ex: [[fulano, altura],[sicrano,altura]...]

acesse o terceiro elemento da lista.

acesse a altura do segundo eleemnto da lista.

In [14]:
fam = [["Emanuel", 1.81],["Clara", 1.60], ["Emanuele", 1.50], ["Gabriel", 1.40]]
print(fam[2])
print(fam[1][1])

['Emanuele', 1.5]
1.6