<a href="https://colab.research.google.com/github/alysonbz/lab_prog_si/blob/levi_nascimento/Aula_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FUNÇÕES

In [ ]:
def max_valor_lista(list_num):
  maior_valor = None
  for numero in list_num:
    if maior_valor == None:
      maior_valor = numero
    if numero > maior_valor:
      maior_valor = numero

  return maior_valor

In [ ]:
lista_qualquer = [2, 6, 7, 8, 7, 5, 89]

num = max_valor_lista(lista_qualquer)
print("Maior Valor", num)

Maior Valor 89

Faça uma função que retorne a quantidade de elementos em uma lista

In [ ]:
def qtd_elementos_lista(list_num):
  qtd_elementos = 0
  for elementos in list_num:
        qtd_elementos = qtd_elementos + 1

  return qtd_elementos

In [ ]:
lista = [2, 4, 8, 6]
qtd_elementos_lista(lista)

4

In [ ]:
#max() mostra o maior valor da lista
print(max(lista))

#round() retorna valor inteiro ou arredonda
round(1.68, 1)

8

1.7

PRATIQUE

In [ ]:
var1 = [1, 2, 3, 4]
var2 = True

#1) print o tipo de var 1
print(type(var1))

#2) Print o tamanho de var1 com a função Len()
print(len(var1))

#3)Converta var2 para inteiro com a função int e armazene em out2. Em seguida realize o print de out2
out2 = int(var2)
print(out2)

<class 'list'>
4
1

In [6]:
#4)concatenar as listas first e second usando o operador + e armazene em uma nova lista chamada full. Print a lista full.
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

full = first + second
print(full)

#5) Use a função sorted() para  ordenar os elementos da lista full e armazene a reposta da função em uma nova lista, full_sorted.
# A função sorted recebe 2 argumentos: full e outro padrão da função: reverse,  que indica o tipo ordenamento. Neste caso, faça reverse = True.

full_sorted = sorted(full, reverse = True)

#6) Print a lista full_sorted
print(full_sorted)

[11.25, 18.0, 20.0, 10.75, 9.5]
[20.0, 18.0, 11.25, 10.75, 9.5]