<a href="https://colab.research.google.com/github/alysonbz/lab_prog_si/blob/Thiago_Gomes/Aula05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Exemplos de funções

In [ ]:
#lista que retorna o maior valor de uma lista
lista_num = [3, 1, 6, 9, 5]
def max_valor_lista(lista_num):
    maior_valor = None
    for numero in lista_num:
     if maior_valor == None:
        maior_valor = numero
     if numero > maior_valor:
        maior_valor = numero
    return maior_valor

In [ ]:
lista_qualquer = [2,4,5,9,7,3,8]
x = max_valor_lista(lista_qualquer)
print (x)

9

In [ ]:
max(lista_qualquer)
print(max(lista_qualquer))
round(1.77,1)
print(round(1.77,1))
round(1.77)

9
1.8

2

Atividade 01 de funções

In [ ]:
var1 = [1,2,3,4]
var2 = True
#1) na linha 6 realise o print do tipo de var1 usando a função tipe()
print(type(var1))

#2) na linha 9 print o tamanho de var1 com a função len()
print(len(var1))

#3) na linha 12 converta var2 para inteiro com a função int e armazene em out2 em seguida print out2
out2 = int(var2)
print(out2)

<class 'list'>
4
1

Teste Funções

Atividade da Aula 05 de funções

In [ ]:
#4)Na linha 6 concatene as listas first e second usando o operador e armazene em uma nova lista chamada full. print a lista full na linha 7
first = [11.25, 18.0, 20.0]
second = [10.75, 9.50]

full = first + second
print (full)

#5)na linha 9 use a função sorted() para ordenar os elementos da lista full e armazene a resposta da função em uma nova lista, full_sorted. a função sorted recebe 2 argumentos full e outro padrão da função: reverse, que indica o tipo ordenado nesse caso faça reverce = true
sorted (full, reverse = True)
full_sorted = sorted(full, reverse = True)

#6) print full_sorted
print (full_sorted)

[11.25, 18.0, 20.0, 10.75, 9.5]
[20.0, 18.0, 11.25, 10.75, 9.5]