<a href="https://colab.research.google.com/github/alysonbz/lab_prog_si/blob/Emanuel_Oliveira/aula5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

função que retorna o maior valor de uma lista

In [ ]:
def max_valor_lista(list_num):
  maior_valor = None
  for numero in list_num:
    if maior_valor == None:
      maior_valor = numero
    if numero > maior_valor:
      maior_valor = numero
  return maior_valor

In [ ]:
lista_qualquer = [2,6,7,8,7,5,89]
num = max_valor_lista(lista_qualquer)
print(num)

89

faça uma função que retorne a quantidade de elementos de uma lista

In [ ]:
def quant_element(lista_element):
  quant_element_list = 0
  for elemento in lista_element:
   quant_element_list = quant_element_list + 1

In [ ]:
lista_qualquer = [2,6,7,8,7,5,89]
print(quant_element(lista_qualquer))

None

funções

In [ ]:
fam = [1.78,1.60,1.55,1.90,2.0,2.45]
max(fam)

2.45

In [ ]:
round(1.78,1)

1.8

1) Na linha 6 realize o print do tipo de var1 usando a função type().

In [ ]:
#Create variables var1 and var2
var1 = [1,2,3,4]
var2 = True
#print out type of var1
print(type(var1))
#print out length of var1

#convert var2 to an integer: out2

<class 'list'>

2) Na linha 9 print o tamanho de var1 com a função len()

In [ ]:
#Create variables var1 and var2
var1 = [1,2,3,4]
var2 = True
#print out type of var1
print(type(var1))
#print out length of var1
print(len(var1))
#convert var2 to an integer: out2

<class 'list'>
4

3) Na linha 12 converta var2 para inteiro com a função int e armazene em out2. Em seguida realize o print de out2.

In [ ]:
#Create variables var1 and var2
var1 = [1,2,3,4]
var2 = True
#print out type of var1
print(type(var1))
#print out length of var1
print(len(var1))
#convert var2 to an integer: out2
out = int(var2)
print(out)

<class 'list'>
4
1

4) Na linha 6 concatenar as listas first e second usando o operado + e armazene em uma nova lista chamada full. Print a lista full na linha 7.

5)  Na linha 9 use a função sorted() para  ordenar os elementos da lista full e armazene a reposta da função em uma nova lista, full_sorted. A função sorted recebe 2 argumentos: full e outro padrão da função: reverse,  que indica o tipo ordenamento. Neste caso, faça reverse = True.

6) Print a lista full_sorted

In [ ]:
#create lists first and second
first = [11.25,18.0,20.0]
second =[10.75,9.50]
#paste together first and second: full
full = first + second
print(f"Lista concatena: {full}")
#sort full in descending order: full_sorted
full_sorted = sorted(full, reverse=True)
#print out full_sorted
print(f"lista ordenada: {full_sorted}")