<a href="https://colab.research.google.com/github/alysonbz/lab_prog_si/blob/hugo_alexandre/aula03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50

areas = [hall, "hallway", kit, "kitchen", bed, "bedroom"]

In [ ]:
#area variables
hall = 11.25
kit = 18.0
liv = 20.0
bed = 10.75
bath = 9.50
# house information as list of lists
house = [["hallway", hall],
       ["kitchen",kit],
       ["living room",liv]]
#print out house
print(house)
#print out the type of house
type(house)

[['hallway', 11.25], ['kitchen', 18.0], ['living room', 20.0]]

list

In [ ]:
fam = ["liz",1.73,"emma",1.68,"mom",1.71,"dad",1.89]
fam [3]
fam [-1]
fam[-2]
print("tamanho da lista",len(fam))
fam[:6]
fam[2:6]

tamanho da lista 8

['emma', 1.68, 'mom', 1.71]

In [ ]:
#create the areas list
areas = ["hallway",11.25,"kitchen", 18.0,"living room",20.0, "bedroom", 10.75, "bathroom", 9.50]
# print out second element from areas
print(areas[2])
# print out last element from areas
print(areas[-1])
# print out the area of the living room
print(areas[5])

kitchen
9.5
20.0

In [ ]:
areas = ["hallway",11.25,"kitchen", 18.0,"living room",20.0, "bedroom", 10.75, "bathroom", 9.50]
#sum of kitchen and bedroom area: eat_sleep_area
eat_sleep_area = areas[3] + areas[-3]
#print the variable eat_sleep_area
print(eat_sleep_area)

28.75

In [ ]:
areas = ["hallway",11.25,"kitchen", 18.0,"living room",20.0, "bedroom", 10.75, "bathroom", 9.50]
#use slicing to create downstairs
downstairs = areas[:6]
#use slicing to create upstairs
upstairs = areas[6:]
#print out downstairs and upstairs
print(downstairs)
print(upstairs)

['hallway', 11.25, 'kitchen', 18.0, 'living room', 20.0]
['bedroom', 10.75, 'bathroom', 9.5]

In [ ]:
#lista da lista
familia = [["hugo",1.72],["darlene", 1.60],["deci",1.68],["gabriel",1.65],["stefany",1.00]]
familia [0][1]
familia [1][0]

'darlene'

In [ ]:
house[1][-1]

18.0

In [ ]:
fam + ["me", 1.79]

In [ ]:
x = ["a","b","c"]
y = x.copy()
y[1] = "z"
print(y)

print(x)

['a', 'z', 'c']
['a', 'b', 'c']

In [ ]:
x = ["a","b","c"]
y = list(x)
y[1] = "z"
print(y)

print(x)

['a', 'z', 'c']
['a', 'b', 'c']

In [ ]:
fam = ["liz",1.73,"emma",1.68,"mom",1.71,"dad",1.89]
print(fam)
fam[7] = 1.86
print(fam)
fam[0:2] = ["lisa", 1.74]
print(fam)

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]
['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.86]
['lisa', 1.74, 'emma', 1.68, 'mom', 1.71, 'dad', 1.86]

In [ ]:
fam + ["me", 1.79]
print(fam)

fam_ext = fam + ["me", 1.79]
del(fam[2])
print(fam_ext)
print(fam)

['lisa', 1.74, 1.68, 'mom', 1.71, 'dad', 1.86]
['lisa', 1.74, 1.68, 'mom', 1.71, 'dad', 1.86, 'me', 1.79]
['lisa', 1.74, 'mom', 1.71, 'dad', 1.86]

In [ ]:
x = ["a","b","c"]
y = x
y[1] = "z"
print(y)

print(x)

['a', 'z', 'c']
['a', 'z', 'c']

In [ ]:
#questao 7
areas = ["hallway",11.25,"kitchen", 18.0,"living room",20.0, "bedroom", 10.75, "bathroom", 9.50]
#correct the bathroom area
areas[-1] = 10.50
# Change "living Room" to "chill zone"
areas[4] = "chill zone"
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5]

In [ ]:
#questao 8
areas = ["hallway", 11.25, "kitchen", 18.0, "chill zone", 20.0, "bedroom", 10.75, "bathroom", 10.5]
#add poolhouse to data areas new list is area_1
areas_1 = areas + ["poolhouse", 24.5]
#add garage data to areas_1, new list is areas_2
areas_2 = areas_1 + ["garage", 15.45]
print(areas_2)

['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathroom', 10.5, 'poolhouse', 24.5, 'garage', 15.45]

In [ ]:
#questao 9
areas = [11.25, 18.0, 20.0, 10.75, 9.50]
#create the areas_copy
areas_copy = areas.copy()
#changes areas_copy
areas_copy[0] = 5.0
print (areas)
print(areas_copy)

[11.25, 18.0, 20.0, 10.75, 9.5]
[5.0, 18.0, 20.0, 10.75, 9.5]