<a href="https://colab.research.google.com/github/alysonbz/lab_prog_si/blob/laisa_gomes/aula_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Função que retorna o maior valor de uma lista

def max_valor_lista(list_num):
  maior_valor = None
  for numero in list_num:
    if maior_valor== None:
      maior_valor = numero
    if numero > maior_valor:
      maior_valor = numero
  return maior_valor

In [ ]:
lista_qualquer = [2,6,7,8,7,5,89]

num = max_valor_lista(lista_qualquer)
print(num)

89

In [ ]:
# Faça uma função que retorne a quantidade de elementos de uma lista

def qtidade_elementos(lista_num):
  qtidade = 0
  for elemento in lista_num:
    qtidade = qtidade + 1
  return qtidade

In [ ]:
lista_num= [1,2,3,4,5]

qtidade_elementos(lista_num)

5

In [ ]:
# Função max

num = [1,2,3,8,102,40]
max(num)

102

In [ ]:
# Arredeondando número

round(1.56, 1)

2

In [ ]:
# Realize o print do tipo de var1 usando a função type()

var1= [1,2,3,4]
var2= True

# Mostre o tipo da variável var1
print(type(var1))

# Mostre o tamanho de var1 usando len
print(len(var1))

# Converta var2 (boleana) para inteiro
out2= int (var2)
print(type(out2))

<class 'list'>
4
<class 'int'>

In [ ]:
# Concatenando lista

primeiro = [11.25, 18.0, 20.0]
segundo = [10.75, 9.50]

full= primeiro + segundo
print(full)

# Função sorted() para ordenar elementos

full_sorted= sorted(full, reverse = True)
print(full_sorted)

[11.25, 18.0, 20.0, 10.75, 9.5]
[20.0, 18.0, 11.25, 10.75, 9.5]

In [ ]:
# Método upper()

place = "poolhouse"
place_up = place.upper()

print(place)
print(place_up)

print(place.count("o"))

poolhouse
POOLHOUSE
3

In [ ]:
# Método index()
areas =  [11.25, 18.0, 20.0, 10.75, 9.50]

print(areas.index(20.0))

# Mostre via print o numero de vezes que 9.5 aparece na lista.
print(areas.count(9.5))

# Adicionando elementos na lista método append()
areas.append(24.5)
areas.append(15.25)
print(areas)

# Invertendo uma lista método reverse()
areas.reverse()
print(areas)

2
1
[11.25, 18.0, 20.0, 10.75, 9.5, 24.5, 15.25]
[15.25, 24.5, 9.5, 10.75, 20.0, 18.0, 11.25]