<a href="https://colab.research.google.com/github/alysonbz/lab_prog_si/blob/Thiago_Gomes/Aula03_e_Aula04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Aula 03 Exemplos: criar uma lista com os nomes dos membros da família e selecionar um em especifico

In [ ]:
fam = ["Thais", 1.25, "Thiago", 1.85, "Elizabete", 1.68, "Antônio", 1.79]
print (fam)
print (fam[4])

['Thais', 1.25, 'Thiago', 1.85, 'Elizabete', 1.68, 'Antônio', 1.79]
Elizabete

Questão 04 de listas

In [ ]:
#4)exibir o segundo elemento da lista
areas = ["Hallway", 11.25 , "Kitchen", 18.0, "living room", 20.0, "badroom", 10.75, "bathroom", 9.50]
print (areas[2])

#4.1)exiba o ultimo elemento da lista usando index negativo
print (areas[-9])

#4.2)exiba o elemento que indica o valor da area do living room
print(areas[5])

Kitchen
11.25
20.0

Questão 05 de listas

In [ ]:
#5)Na linha 7 acessando os elementos da lista, realize a soma dos valores de kitchen e living room.
eat_sleep_area = areas[3] + areas[5]

#5.1)exiba a variavel eat_sleep_area.
print (eat_sleep_area)

38.0

Questão 06 de listas

In [ ]:
#6)Acesse os 6 primeiros elementos de areas e atribua-os a uma nova lista: downstairs
downstairs = areas[0:6]

#6.1)Acesse os 4 ultimos elementos de areas e atribua-os a uma nova lista: downstairs
upstairs = areas[6:10]

#6.2)Exiba downstairs e downstairs
print(downstairs)
print(upstairs)

['Hallway', 11.25, 'Kitchen', 18.0, 'living room', 20.0]
['badroom', 10.75, 'bathroom', 9.5]

Aula 04: Exemplo de manipulações de listas

In [ ]:
fam = ["Thais", "Thiago", "Elizabete", "Antônio"]
fri = ["levi", "Rich", "Matheus", "Kaiky"]

soma = fam + fri
print (soma)


x = ["a", "b", "c"]
y = x.copy()
y[1] = "z"
print (y)
print (x)

['Thais', 'Thiago', 'Elizabete', 'Antônio', 'levi', 'Rich', 'Matheus', 'Kaiky']
['a', 'z', 'c']
['a', 'b', 'c']

Questão 07 de listas

In [ ]:
#7) troque o valor de bathroom de 9.50 para 10.50
areas = ["Hallway", 11.25 , "Kitchen", 18.0, "living room", 20.0, "badroom", 10.75, "bathroom", 9.50]
novas_areas = areas.copy()
novas_areas[9] = 10.50

#7.1) substitua a string "livingroom" por "chill zone"
novas_areas[4] = "chill zone"
print (novas_areas)

['Hallway', 11.25, 'Kitchen', 18.0, 'chill zone', 20.0, 'badroom', 10.75, 'bathroom', 10.5]

Questão 08 de listas

In [ ]:
#8) Adicione "poolhouse, 24.5" e atribua a uma nova lista chamada areas_1
areas = ["Hallway", 11.25 , "Kitchen", 18.0, "living room", 20.0, "badroom", 10.75, "bathroom", 9.50]
areas_1 = areas + ["poolhouse" , 24.50]

#8.1) Adicione "garage, 15.5" e atribua a uma nova lista chamada areas_2
areas_2 = areas + ["poolhouse" , 24.50] + ["garage", 15.5]

#8.2) printe area_1 e area_2
print(areas_1)
print(areas_2)

['Hallway', 11.25, 'Kitchen', 18.0, 'living room', 20.0, 'badroom', 10.75, 'bathroom', 9.5, 'poolhouse', 24.5]
['Hallway', 11.25, 'Kitchen', 18.0, 'living room', 20.0, 'badroom', 10.75, 'bathroom', 9.5, 'poolhouse', 24.5, 'garage', 15.5]

Questão 09 de listas

In [ ]:
#9) execute o código e observe o que a modificação  realizada em areas_copy afetou areas, corriga esse codigo e exiba areas e areas_copy
areas = [11.25 , 18.0, 20.0, 10.75, 9.50]
areas_copy = areas.copy()
areas_copy[0] = 5.0


print(areas_copy)
print(areas)

[5.0, 18.0, 20.0, 10.75, 9.5]
[11.25, 18.0, 20.0, 10.75, 9.5]