<a href="https://colab.research.google.com/github/alysonbz/lab_prog_si/blob/antonio_erick/pratique_lista1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
hall=11.25
kit=18.0
liv=20.0
bed=10.75
bath=9.50
areas=[hall,kit,liv,bed,bath]
print(areas)

In [ ]:
#questão 1
hall=11.25
kit=18.0
liv=20.0
bed=10.75
bath=9.50
areas=['hall',11.25,'kit',18,'liv',20,'bed',10.75,'bath',9.50]
areas.insert(0,'hallway')
areas.insert(2,'kitchen')
areas.insert(5,'bedroom')
areas.insert(4,'linving romm')
areas.insert(8,'bathromm')
print(areas)

['hallway', 'hall', 'kitchen', 11.25, 'linving romm', 'kit', 'bedroom', 18, 'bathromm', 'liv', 20, 'bed', 10.75, 'bath', 9.5]

In [ ]:
#questão 2 suponha que as seguintes listas foram criadas.
# A=[1,3,4,2] B=[[1,2,3],[4,5,7]] C=[1+2,"a" * 5,3]
#Qual forma de criação de lista está correta ? Descreva o que contém nas listas definidas corretamente.

A=[1,3,4,2]
B=[[1,2,3],[4,5,7]]
c=[1+2,"a" * 5,3]
print(c)
print(B)
print(A)

#todas estão corretas, na lista "A" contém 4 números inteiros,
# na B contém uma lista de lista sendo a primeira '1,2,3' e a segunda '4,5,7'
# na C contém  3,aaaaa,3 sendo o primeiro '3' resultado da equação 1+2 e o 'aaaaa' da multiplicação de string ("a"*5)

In [ ]:
hall=11.25
kit=18.0
liv=20.0
bath=9.50
bed=10.75
#3) Complete a lista de listas com as informações de  bedroom e bathroom.
house=[['hallway,',hall],
       ['kitchen',kit],
       ['living room', liv]]
#3.1) Mostre a variável house.
print(house)
#3.2) Print o tipo da variável house.
print(type(house))

[['hallway,', 11.25], ['kitchen', 18.0], ['living room', 20.0]]
<class 'list'>

In [ ]:
# Crie a lista de áreas
areas = ["hallway", 11.25, "kitchen", 18.0, "living room", 20.0, "bedroom", 10.75, "bathroom", 9.50]

#4 Imprima o segundo elemento da lista areas
print(areas[1])

#4.1Exiba o último elemento da lista usando index negativo.
print(areas[-1])

#4.2 Imprima a área da sala de estar
print(areas[5])

11.25
9.5
20.0

In [ ]:
areas=['hallway', 11.25,'kitchen', 18.0,'linving romm', 20.0, 'bedroom', 10.75,'bathromm', 9.5]
#5) Na linha 7, acessando os elementos da lista, realize a soma dos valores de Kitchen e living room e atribua em eat_sleep_area.
eat_sleep_area= areas[3] + areas[5]
#5.1) Exiba a variável eat_sleep_area.
print(eat_sleep_area)

38.0

In [ ]:
areas=['hallway', 11.25,'kitchen', 18.0,'linving romm', 20.0, 'bedroom', 10.75,'bathromm', 9.5]
#6) Acesse os 6 primeiros elemento de areas e atribua a uma nova lista: downstairs.
areas[0:6]
downstairs=areas[0:6]
#6.1) Acesse os 4 últimos elementos de areas e atribua a uma nova lista: upstairs.
upstairs=areas[6:10]
#6.2) Exiba downstairs e upstairs.
print(downstairs)
print(upstairs)

['hallway', 11.25, 'kitchen', 18.0, 'linving romm', 20.0]
['bedroom', 10.75, 'bathromm', 9.5]

In [ ]:
fam=['lara',1.50, 'erly', 1.68, 'luiza', 1.20]
fam[3]
fam[-1]
len(fam)
print(' o tamanho da lista é', len(fam))
#slice
fam[2:6]

 o tamanho da lista é 6

['erly', 1.68, 'luiza', 1.2]

In [ ]:
#acessando elementos numa lista de listas
alunos=[['hugo','UFC'],['Zé feitoza', 'UNINTA']]
alunos[0][1]

'UFC'

In [ ]:
#uma lista da sua familia
familia=[['lara',1.50],['erly', 1.68], ['luiza', 1.20]]
print('O TERCEIRO ELEMANTO DA LISTA É ', fam[2])
print('A ALTURA DO SEGUNDO ELEMENTO DA LISTA É ', fam[1][1])

O TERCEIRO ELEMANTO DA LISTA É  ['luiza', 1.2]
A ALTURA DO SEGUNDO ELEMENTO DA LISTA É  1.68

In [ ]:
hall=11.25
kit=18.0
liv=20.0
bed=10.75
bath=9.50
x=[['hallway',hall],['kitchen',kit],['living room',liv],['bathromm',bath]]
x=[2][0]

MANIPULANDO LISTAS

In [ ]:

fam= ['liz', 1.73,'emma',1.68,'mom',1.71,'dad',1.89]
print(fam)
#
fam [7] = 1.86
print(fam)
#
fam[0:2] = ['lisa', 1.74]
print(fam)
#
fam +['me', 1.79]
print(fam)
#
fam_ext =fam + ['me',1.79]
del(fam[2])
print(fam_ext)
print(fam)

['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.89]
['liz', 1.73, 'emma', 1.68, 'mom', 1.71, 'dad', 1.86]
['lisa', 1.74, 'emma', 1.68, 'mom', 1.71, 'dad', 1.86]
['lisa', 1.74, 'emma', 1.68, 'mom', 1.71, 'dad', 1.86]
['lisa', 1.74, 'emma', 1.68, 'mom', 1.71, 'dad', 1.86, 'me', 1.79]
['lisa', 1.74, 1.68, 'mom', 1.71, 'dad', 1.86]

## Informação importante sobre manipulação de Listas

In [ ]:
x=['a','b','c']
y=x
y[1]='z'
print(y)
print(x)

['a', 'z', 'c']
['a', 'z', 'c']

Criar uma lista a partir de outra lista. Sugestão de 2 maneiras.

In [ ]:
x=['a','b','c']
y = list(x)
y=x[:]
y[1] = 'z'
print(x)
print(y)

['a', 'b', 'c']
['a', 'z', 'c']

  PRATIQUE

In [ ]:
#7.0Troque o valor de bathroom de 9.50 para 10.50.
areas=['hallway', 11.25,
       'kitchen', 18.0,'linving romm',
       20.0, 'bedroom', 10.75,
       'bathromm', 9.5]
areas[-1] = 10.50
print(areas)
#7.1) Substitua a string “Living room” por “chill zone”
areas[4]= 'chill zone'
print(areas)

['hallway', 11.25, 'kitchen', 18.0, 'linving romm', 20.0, 'bedroom', 10.75, 'bathromm', 10.5]
['hallway', 11.25, 'kitchen', 18.0, 'chill zone', 20.0, 'bedroom', 10.75, 'bathromm', 10.5]

In [ ]:
#8) Adicione ["poolhouse", 24.5] no fim da lista  e atribua em uma nova lista chamada de areas_1
areas=['hallway', 11.25,
       'kitchen', 18.0,'linving romm',
       20.0, 'bedroom', 10.75,
       'bathromm', 9.5]
areas= areas +['poolhouse',24.51]
print(areas)
areas_1= areas
print(areas_1)

#8.1) 8) Adicione ["garage", 15.5] no fim da lista areas_1  e atribua em uma nova lista chamada de areas_2
areas_1=areas_1 + ['garage', 15.5]
print(areas_1)
areas_2=areas_1 + ['garage', 15.5]
#8.2) Exiba areas_2
print(areas_2)

['hallway', 11.25, 'kitchen', 18.0, 'linving romm', 20.0, 'bedroom', 10.75, 'bathromm', 9.5, 'poolhouse', 24.51]
['hallway', 11.25, 'kitchen', 18.0, 'linving romm', 20.0, 'bedroom', 10.75, 'bathromm', 9.5, 'poolhouse', 24.51]

In [ ]:
#9) Execute o código e observe que a modificação realizada em areas_copy afetou areas.
#Corrija esse código e exiba areas e areas_copy no fim do código.
areas=[11.25,18.0,20.0,10.75,9.50]
# criar areas_copy
areas_copy= areas
# mudar areas_copy
areas_copy[0] = 5.0
print('areas',areas)
print('areas_copy',areas_copy)

areas [5.0, 18.0, 20.0, 10.75, 9.5]
areas_copy [5.0, 18.0, 20.0, 10.75, 9.5]

In [ ]:
#corrigindo a #9
areas=[11.25,18.0,20.0,10.75,9.50]
areas_copy= list(areas)
y=x[:]
areas_copy[0] = 5.0
print('areas',areas)
print('areas_copy',areas_copy)

areas [11.25, 18.0, 20.0, 10.75, 9.5]
areas_copy [5.0, 18.0, 20.0, 10.75, 9.5]