In [17]:
#example
print(5/8)

0.625

In [2]:
#soma
print(7+8)

15

In [3]:
#soma
print(5+3)
#subtraçao
print(5-3)

8
2

In [4]:
#potencia
print(5**3)
#multiplicaçao
print(5*3)
#resto
print(5%3)

125
15
2

In [5]:
100*1.1**7

194.87171000000012

In [6]:
savings = 100
growth_multiplier = 1.1
desc = '110'
#assign product of growth_multiplier and savings to year1
year1 =110
#print the type of year1
print('110')
#assign sum of desc and desc to doubledesc
110
#print outdoubledesc

110

110

In [8]:
#definition of pi_string
pi_string = '3.1415926'
#convert pi_string into float: pi_float
pi_float = float('3.1415926')
print('pi_string')

pi_string

In [10]:
#definition of savings and result
savings = 100
result = 100*1.10**7
#fix the printout
print('I started with $' + str(savings) + 'and now I have $' + str(result) + 'awesome!')

I started with $100and now I have $194.87171000000012awesome!

In [11]:
'I can add integers, like ' + str(5) + 'to strings.'

'I can add integers, like 5to strings.'

In [12]:
'I said'+('Hey ' * 2) + 'Hey!'

'I saidHey Hey Hey!'

In [13]:
'the correct answer to this multilpe choice exercise is anwer number' + 2

TypeError: can only concatenate str (not "int") to str

In [14]:
'the correct answer to this multiple choice exercise is answer number' + str(2)

'the correct answer to this multiple choice exercise is answer number2'

In [16]:
True + False

1